

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Kyobo Handwriting 2019';
  src: url('/fonts/Kyobo2019.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

